<?xml version="1.0" encoding="UTF-8"?>
<configuration>


 	<!-- <property name="USER_HOME" value="/home/ddstest/app/log" /> -->
 	<springProperty scope="context" name="USER_HOME" source="logging.path"/>
    <property name="APP_NAME" value="rest" />
    <property name="LOG_DIR" value="${USER_HOME}/%d{yyyyMMdd}" />
    <property name="LOG_CHARSET" value="UTF-8" />
    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度，%msg、%m：日志消息，%n是换行符-->
    <!-- %-5p  和  %-5level 含义一样 ，%c：全限定类名，%L：行号， 格式可以参考 http://logback.qos.ch/manual/layouts.html -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %X{UUID} %-5p [%c-%L] - %m%n" />

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    
    
    <!-- 文件输出 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
     	<!--RollingFileAppender 中File指定活动文件 -->
        <File>${USER_HOME}/${APP_NAME}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <FileNamePattern>${LOG_DIR}/${APP_NAME}.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
			<charset>${LOG_CHARSET}</charset>
		</encoder>
	</appender>
    
    
    <!-- 错误输出 -->
    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <File>${USER_HOME}/${APP_NAME}.error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_DIR}/${APP_NAME}.error.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
			<pattern>${LOG_PATTERN}</pattern>
			<charset>${LOG_CHARSET}</charset>
		</encoder>
    </appender>
    
    
    
    <logger name="com.ibatis" level="DEBUG" />
	<logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG" />
	<logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG" />
	<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" />
	<logger name="java.sql.Connection" level="DEBUG" />
	<logger name="java.sql.Statement" level="DEBUG" />
	<logger name="java.sql.PreparedStatement" level="DEBUG" />
	<logger name="java.sql.ResultSet" level="DEBUG" />
	<logger name="org.apache.http" level="info" />
	<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="DEBUG" />
	
    
    <!-- 级别排序为：TRACE < DEBUG < INFO < WARN < ERROR -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
        <appender-ref ref="ERROR_LOG" />
    </root>
    
</configuration>